@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

*{
  font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(34, 197, 94, 0.6);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 197, 94, 0.9);
}

html {
  scroll-behavior: smooth;
}